@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  text-align: center;
  background-color: #0B2447;
  font-family: 'Roboto', sans-serif;
}

.title {
  height: 100px;
  h1 {
    color: #fff;
  }
}

.map {
  svg {
      border-radius: 18px;
  }
  .tag {
    background-color: #0B2447;
  }
}